<!DOCTYPE html>
<html>

<head>
  <title>My App</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,
                                  initial-scale=1.0,
                                  maximum-scale=1.0,
                                  user-scalable=no,
                                  minimal-ui">

  <link rel="stylesheet" href="//cdn.kik.com/app/2.0.1/app.min.css">
  <link rel="stylesheet" href="/resources/theme.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

<body>
  <div class="app-page" data-page="home" ng-app="phonyKik" ng-controller="MainController as main">
    <div id="topbar" class="app-topbar">
      <div class="app-title">
        <i class="fa fa-arrow-left"></i>
        <h2 class="titleText" ng-model="main.titleText">Pixel Perfect Piece of Pizza <span class="isTyping" ng-show="main.botIsTyping">is typing...</span></h2>
      </div>
    </div>
    <div class="app-content">
      <div id="chatContainer">
        <div class="message-container" ng-repeat="message in main.messages">

          <div class="u-pullChildrenLeft" ng-show="message.direction === 'inbound'">
            <div class="message-pictureReceived"></div>
            <div class="message-bubble message-bubble-received">
              {{message.message}}
            </div>
          </div>

          <div class="u-pullChildrenRight" ng-show="message.direction === 'outbound'">
            <div class="message-bubble message-bubble-sent">
              {{message.message}}
            </div>
          </div>
        </div>
      </div>
      <div id="inputContainer">
        <i class="fa fa-plus"></i>
        <input id="inputBar" class="app-input" placeholder="Type a message..." autofocus ng-model="main.inputText" ng-init="main.inputText = ''" ng-keydown="main.onKeyDown($event)">
        <i class="fa fa-smile-o"></i>
        <i class="fa fa-paper-plane u-colorBlue" ng-show="main.inputText.length > 0" ng-click="main.sendMessage(main.inputText)"></i>
        <i class="fa fa-paper-plane-o" ng-show="main.inputText.length === 0" disabled></i>
      </div>
    </div>
  </div>

  <!-- libraries -->
  <script type="text/javascript" src="//zeptojs.com/zepto.min.js"></script>
  <script type="text/javascript" src="//cdn.kik.com/app/2.0.1/app.min.js"></script>
  <script type="text/javascript" src="/bower/angular/angular.js"></script>
  <script type="text/javascript" src="/resources/app.js"></script>
</body>

</html>
