*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
}

.app-topbar {
  background-color: white;
  text-align: center;
  color: black;
  border-bottom: 1px solid grey;
}

.titleText {
  font-size: 1em;
  font-weight: 500;
  text-align: left;
  margin-left: 55px;
}

#inputcontainer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #BDBDBD;
}

#inputBar {
  position: relative;
  margin: 0 auto;
  float: left;
  width: 70%;
}

.fa {
  background-color: white;
  position: relative;
  text-align: center;
  height: 43px;
  width: 9%;
  float: left;
  padding: 10px;
  color: grey;
}

.fa.fa-plus,
.fa.fa-smile-o,
.fa.fa-paper-plane-o {
  font-size: 20px;
}

.fa.fa-paper-plane-o {
  color: blue;
}

.chat {
  position: absolute;
  background-color: white;
  top: 0;
  bottom: 44px;
  right: 0;
  left: 0;
}

.message {
  position: relative;
  width: 100%;
  margin-top: 15px;
}

.sendbubble {
  margin-left: auto;
  margin-right: 0;
  max-width: 60%;
  background-color: #A4E639;
  padding: 10px;
  border-radius: 10px;
}

.receivebubble {
  margin-right: auto;
  margin-left: 0;
  max-width: 60%;
  background-color: #FAFAFA;
  padding: 10px;
  border-radius: 10px;
}

.profilepic {
  display: inline-block;
  background-image: url(paint)
}
